:host {
  width: 100%;
}

.subtopic-container {
  background-color: white;
  border-radius: 12px;
  box-shadow: 0px 4px 4px 0px #00000040;
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  flex-basis: auto;
  /* height: 324px; */
  padding: 16px;
  /* width: 240px; */
}

.subtopic-content-container {
  overflow: hidden;
}

.subtopic-container h2 {
  /* border-bottom: 1px solid #d9d9d9; */
  font-size: 1rem;
  font-weight: 500;
  line-height: 1.3rem;
  margin: 0;
  padding-bottom: 3px;
}

.subtopic-container.open h2 {
  padding-bottom: 15px;
}

.subtopic-container > .subtopic-content-container > p {
  font-size: 0.9rem;
  height: 1.3rem;
  line-height: 1.3rem;
  overflow: hidden;
  margin: 0;
  /* padding: 5px 0; */
  /* position: relative; */
  text-overflow: ellipsis;
  white-space: nowrap;
  /* width: 100%; */
}

.subtopic-container.open > .subtopic-content-container > p {
  height: auto;
  text-overflow: unset;
  white-space: wrap;
}

.subtopic-container .subtopic-actions-container {
  align-self: flex-start;
  align-items: center;
  display: flex;
  gap: 5px;
  height: 45px;
  margin-left: 20px;
}

.subtopic-container .subtopic-actions-container button {
  background: none;
  border: none;
  border-radius: 50%;
  color: #666;
  cursor: pointer;
  font-size: 25px;
  height: 30px;
  width: 30px;
  position: relative;
}

.subtopic-container .subtopic-actions-container button:hover {
  background-color: #efefef;
  box-shadow: 0px 2px 4px 0px #00000040;
}

.subtopic-container .subtopic-actions-container button:active {
  background-color: #efefef;
  box-shadow: 0px 1px 2px 0px #00000040;
}

.subtopic-container .subtopic-actions-container .save-button {
  background-image: url("/images/star.svg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: 55%;
}

.subtopic-container.saved .subtopic-actions-container .save-button {
  background-image: url("/images/star-filled.svg");
}

.subtopic-container .subtopic-actions-container .expand-button {
  background-image: url("/images/arrow_down.svg");
  background-position: 50% 60%;
  background-repeat: no-repeat;
  background-size: 50%;
}

.subtopic-container.open .subtopic-actions-container .expand-button {
  background-image: url("/images/arrow_up.svg");
  background-position: 50% 50%;
}

/* .topic-container h1::after {
  background-image: url("/images/carat_down.svg");
  background-position: center;
  background-repeat: no-repeat;
  content: "";
  height: 54px;
  position: absolute;
  right: 0;
  width: 24px;
}

.topic-container[open] h1::after {
  transform: rotate(180deg);
} */