:host {
  position: sticky;
  top: 0;
  left: 0;
  right: 0;
  width: 100%;
  z-index: 1;
}

header {
  align-items: center;
  background: #FFF;
  box-shadow: 0px 1px 8px 0px rgba(0, 0, 0, 0.12);
  color: #2F6BFF;
  display: flex;
  justify-content: flex-end;
  margin-bottom: 70px;
  padding: 0px 60px 0px 16px;
}

header::after {
  content: "";
  border-bottom: solid 1.3px #2F6BFF;
  top: 42px;
  transition: left 0.3s ease, width 0.3s ease;
  position: absolute;
  pointer-events: none;
}

header a {
  box-sizing: border-box;
  color: #2F6BFF;
  text-align: center;
  text-decoration: none;
  padding: 22px 4px;
  width: 150px;
}

header a.logo {
  background: url(/images/swap_logo.svg) lightgray 50% / cover no-repeat;
  border-radius: 8px;
  height: 48px;
  margin-right: auto;
}

header a:hover span {
  font-weight: 500;
}